html {
    font-family: Roboto, Arial, sans-serif;
}

body{
    margin: 0;
}

.inside {
    width: 960px;
    margin: 0 auto;
}

.header,
.top-section,
.footer {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
}

.logo,
.top-section h1,
button {
    color: #f9faf8;
}

.top-section p,
.header-links a {
    color: #e5e7eb;
    font-size: 18px;
}

.header .inside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;

}

.header-links a {
    text-decoration: none;
}

.header-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.top-section .inside {
    display: flex;
    padding: 90px 0;
    justify-content: space-around;
    gap: 50px;
}

.top-section h1{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.top-section img{
    width: 400px;
    border-radius: 50px;
}


button {
    background-color: #3882f6;
    padding: 5px 30px;
    border-radius: 5px;
    border: none;
}

.info-h2-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.info-h2-section h2 {
    font-weight: 900;
}

.info-h2-section h2,
.quote-section blockquote {
    font-size: 36px;
    color: #1f2937;
}

.info-card-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 80px;

}

.card {
    text-align: center;
    width: 150px;
}

.info-card-section img {
    width: 150px;
}