html {
    font-family: Roboto, Arial, sans-serif;
}

body{
    margin: 0;
}

.inside {
    width: 800px;
    margin: 0 auto;
}

.header,
.top-section,
.footer {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
}

.logo,
.header-links a {
    color: #f9faf8;
}

.header .inside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;

}

.header-links a {
    text-decoration: none;
}

.header-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

