html {
    font-family: Roboto, Arial, sans-serif;
}

body{
    margin: 0;
}

.inside {
    width: 960px;
    margin: 0 auto;
}

.header,
.top-section,
.footer {
    background-color: #1F2937;
}

.logo,
.blue-box-left h3 {
    font-size: 24px;
}

.top-left a,
.blue-box-right a {
    text-decoration: none;
    color: #f9faf8;
}

.logo,
.top-section h1,
.blue-box-left h3 {
    color: #f9faf8;
}

.top-section p,
.header-links a,
.blue-box-left p,
.footer-text {
    color: #e5e7eb;
    font-size: 18px;
}

.header .inside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;

}

.header-links a {
    text-decoration: none;
}

.header-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.top-section .inside {
    display: flex;
    padding: 90px 0;
    justify-content: space-around;
    gap: 50px;
}

.top-section h1{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.top-section img{
    width: 400px;
    border-radius: 50px;
}

button,
.blue-box {
    background-color: #3882f6;
    border-radius: 5px;
}

button {
    border: none;
    padding: 5px 30px;
}

.info-h2-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.info-h2-section h2 {
    font-weight: 900;
}

.info-h2-section h2,
.quote-section blockquote {
    font-size: 36px;
    color: #1f2937;
}

.info-card-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 80px;
}

.card {
    text-align: center;
    width: 150px;
}

.info-card-section img {
    width: 150px;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 80px 0;
}

.quote-section blockquote {
    font-weight: 300;
    margin: 0;
}

.quote-section figcaption {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    padding-right: 50px;
}

.blue-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
}


.blue-box button {
    border: 2px solid #e5e7eb;
}

.call-to-action .inside {
    padding: 80px 0;
}


.blue-box-left h3,
.blue-box-left p {
    margin: 4px;
    padding: 0;
}

.footer .inside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}