html {
    font-family: Roboto, Arial, sans-serif;
}

body{
    margin: 0;
}

.inside {
    width: 960px;
    margin: 0 auto;
}

.header,
.top-section,
.footer {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
}

.logo,
.header-links a,
.top-section h1,
button {
    color: #f9faf8;
}

.top-section p {
    color: #e5e7eb;
}

.header .inside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;

}

.header-links a {
    text-decoration: none;
}

.header-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.top-section .inside {
    display: flex;
    padding: 90px 0;
    justify-content: space-around;
}

.top-section h1{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.top-section img{
    width: 400px;
    border-radius: 50px;
}


button {
    background-color: #3882f6;
    padding: 5px 30px;
    border-radius: 5px;
    border: none;
}